.Logo {
    opacity: 0.8;
    font-weight: 700;
}

.Navbar_actions {
    font-size: 20px;
    font-weight: 400;
}

.Cart_quantity {
    top: 8px;
    right: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    background-color: #DC3545;
    color: #fff;
    text-align: center;
}

.Cart_icon {
    width: 24px;
    margin-top: 6px;
}

/* -------------------------Responsive---------------------------- */
@media (max-width: 991px) {
.Cart_quantity {
    top: 14px;
    left: 46px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}
    
.Cart_title {
    color: rgba(0, 0, 0, 0.5);
}

.Cart_title:hover {
    color: rgba(0, 0, 0, 0.7);
}
}