* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------General----------------- */
a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.App {
  max-width: 986px;
  min-height: 100vh;
  margin: 0 auto;
}

/* -------------------Header------------------ */
@import url('./components/headers/Header.css');

/* -------------------Products---------------- */
@import url('./components/mainpages/products/products.css');

/* -------------------DetailProduct------------ */
@import url('./components/mainpages/DetailProduct/DetailProduct.css');

/* -------------------Login/Register------------- */
@import url('./components/mainpages/auth/auth.css');

/* -------------------History-------------------- */
@import url('./components/mainpages/history/history.css');

/* -------------------Category------------------- */
@import url('./components/mainpages/categories/Categories.css');

/* -------------------CreateProduct-------------- */
@import url('./components/mainpages/createProduct/CreateProduct.css');