.cart__empty {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-top: 12px;
}

.cart__info {
    position: relative;
}

.cart__quantity {
    height: 52px;
    align-items: center;
}

.cart__quantity-title {
    font-size: 20px;
    line-height: 52px;
    font-weight: 500;
    padding-right: 6px;
}

.cart__quantity-number {
    font-size: 27px;
    line-height: 52px;
    font-weight: 400;
    padding: 4px 6px 0;
}

.cart__quantity-dec,
.cart__quantity-inc {
    border: none;
    background-color: #fff;
    font-size: 36px;
    font-weight: 400;
    padding: 0 12px 2px;
    line-height: 52px;
    cursor: pointer;
}

.cart__quantity-dec:focus ,
.cart__quantity-inc:focus {
    outline: none;
}

.cart__quantity-buy {
    margin-left: auto;
}

.cart__delete {
    position: absolute;
    top: 0;
    right: 6px;
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

.cart__cost {
    margin: 12px 6px;
}

.cart__total {
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
}

.cart__payment {
    font-size: 18px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 4px;
}

/* ----------------------Responsive---------------------------- */
@media (max-width: 510px) {
.cart__delete {
    top: 0;
    right: 0;
}
}

@media (max-width: 672px) {
.cart__quantity {
    border: 1px solid #ccc;
    text-align: center;
    width: 100%;
    padding-left: 12px;
}

.cart__quantity-dec,
.cart__quantity-inc {
    height: 48px;
    margin: auto 0;
    line-height: 48px;
}
}