.history {
    overflow-x: auto;
    width: 100%;
}

.history__title {
    text-align: center;
    margin: 6px 0;
    font-weight: 700;
    text-transform: uppercase;
}

.history__orders {
    text-align: center;
    margin: 6px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.order-details {
    overflow-x: auto;
}

.order-details__product {
    line-height: 90px;
    font-size: 18px;
}

.order-details__product__image {
    width: 90px;
}